# Included Macros
[include build-sheets.cfg]

#####################################################################
#   Macros
#####################################################################

## Every Build Plate you want to use needs an Install Macro
[gcode_macro INSTALL_TEXTURED_SHEET]
gcode:
    INSTALL_BUILD_SHEET NAME="Textured PEI"

[gcode_macro INSTALL_SMOOTH_SHEET]
gcode:
    INSTALL_BUILD_SHEET NAME="Smooth PEI"

[gcode_macro HOME_IF_NEEDED]
gcode:
    {% if not 'xyz' in printer.toolhead.homed_axes %}
        G28
    {% endif %}

[gcode_macro PARK_REAR]
gcode:
    SAFE_LIFT_Z z_height=30
    SAVE_GCODE_STATE NAME=PARK_REAR
    HOME_IF_NEEDED
    ; park the head at the front of the printer
    G90
    G1 X150 Y200 F3000.0
    RESTORE_GCODE_STATE NAME=PARK_REAR

[gcode_macro PARK_CENTER]
gcode:
    SAVE_GCODE_STATE NAME=PARK_CENTER
    HOME_IF_NEEDED
    ; park the head at the front of the printer
    G90
    G1 X150 Y100 F3000.0
    RESTORE_GCODE_STATE NAME=PARK_CENTER

[gcode_macro PARK_FRONT]
gcode:
    SAVE_GCODE_STATE NAME=PARK_FRONT
    HOME_IF_NEEDED
    ; park the head at the front of the printer
    G90
    G1 X150 Y10 F3000.0
    RESTORE_GCODE_STATE NAME=PARK_FRONT

[gcode_macro SAFE_LIFT_Z]
gcode:
    SAVE_GCODE_STATE NAME=SAFE_LIFT_Z
    HOME_IF_NEEDED
    # user parameters
    {% set z_height      = params.Z|default(0.0)|float %}
    {% set speed         = params.F|default(printer.gcode_move.speed)|int %}
    {% set axis_maximum  = printer.toolhead.axis_maximum %}
	{% set position      = printer.toolhead.position     %}

    # compute the minimum safe upward move size
    {% set z_height = [z_height, axis_maximum.z - position.z]|min|float%}

    G91
    G1 Z{z_height} F{speed}

    RESTORE_GCODE_STATE NAME=SAFE_LIFT_Z

[gcode_macro PARK_FOR_SERVICE]
gcode:
    SAFE_LIFT_Z Z=100
    PARK_FRONT



